<div class="col-sm-4">
  <div *ngIf="movies">
    <ul class="list-group users-list">
      <li class="list-group-item" *ngFor="let movie of movies" (click)="selectMovie(movie)" [class.active]="movie === activeMovie">
        {{ movie.title }}
      </li>
    </ul>
  </div>
</div>

 <div class="col-sm-8">
  <div class="jumbotron" *ngIf="activeMovie">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th *ngIf="!editing" ref="u1">{{ activeMovie.title }}</th>
            <input *ngIf="editing" class="form-control" [(ngModel)]="editingMovie.title">
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Release date</td>
            <td *ngIf="!editing" ref="u2">{{ activeMovie.releaseDate}}</td>
            <input *ngIf="editing" class="form-control" [(ngModel)]="editingMovie.releaseDate">
          </tr>
          <tr>
            <td>Duration</td>
            <td *ngIf="!editing" ref="u3">{{ activeMovie.duration}}</td>
            <input *ngIf="editing" class="form-control" [(ngModel)]="editingMovie.duration">
          </tr>
          <tr>
            <td>Genre</td>
            <td *ngIf="!editing" ref="u4">{{ activeMovie.genre}}</td>
            <input *ngIf="editing" class="form-control" [(ngModel)]="editingMovie.genre">
          </tr>
          <tr>
            <td>Synopsis</td>
            <td *ngIf="!editing" ref="u5">{{ activeMovie.synopsis}}</td>
            <textarea *ngIf="editing" class="form-control" [(ngModel)]="editingMovie.synopsis"></textarea>
          </tr>
          <tr>
            <button *ngIf="!editing" type="button" (click)="editMovie()" class="btn btn-primary">Edit</button>
            <button *ngIf="editing" type="submit" (click)="saveMovie(editingMovie)" class="btn btn-primary">Save</button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
